.App {
  font-family: sans-serif;
  text-align: center;
}

.hex {
  cursor: pointer;
}

.hex.fish div {
  /* background: #dee; */
  background-image: url("../public/images/fish.png");
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: center;
}

.hex.fish2 div {
  /* background: #dee; */
  background-image: url("../public/images/fish2.png");
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: center;
}
.hex.fish3 div {
  /* background: #dee; */
  background-image: url("../public/images/fish3.png");
  background-repeat: no-repeat;
  background-size: 75%;
  background-position: center;
}

.hex.player div {
  background-color: #faf !important;
}

.hex.white div {
  background-color: aliceblue;
}
.hex.selected div {
  background-color: lightsteelblue;
}

.hex:hover div {
  border-color: #bb9 !important;
}

.hex:active div {
  border-color: #faf !important;
}

.bg {
  background-color: darkcyan;
  height: 100vh;
}

.bar {
  background-color: aquamarine;
  height: 2vh;
}
