.App {
  font-family: sans-serif;
  text-align: center;
}

.hex {
  cursor: pointer;
  transform: rotate(60deg);
}

.hex.fish div {
  /* background: #dee; */
  background-image: url("../public/images/fish.png");
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: center;
}

.hex.fish2 div {
  /* background: #dee; */
  background-image: url("../public/images/fish2.png");
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: center;
}
.hex.fish3 div {
  /* background: #dee; */
  background-image: url("../public/images/fish3.png");
  background-repeat: no-repeat;
  background-size: 75%;
  background-position: center;
}

.hex.player1 div {
  /* background-color: #faf !important; */
  background-image: url("../public/images/penguin1.png");
  background-repeat: no-repeat;
  background-size: 75%;
  background-position: center;
  border-color: darkturquoise !important;
  background-color: lightblue !important;
  border-width: 5px !important;
}

.hex.player2 div {
  /* background-color: #faf !important; */
  background-image: url("../public/images/penguin2.png");
  background-repeat: no-repeat;
  background-size: 75%;
  background-position: center;
  border-color: palevioletred !important;
  background-color: lightpink !important;
  border-width: 5px !important;
}

.hex.player3 div {
  /* background-color: #faf !important; */
  background-image: url("../public/images/penguin3.png");
  background-repeat: no-repeat;
  background-size: 75%;
  background-position: center;
  border-color: limegreen !important;
  background-color: lightgreen !important;
  border-width: 5px !important;
}

.hex.player4 div {
  /* background-color: #faf !important; */
  background-image: url("../public/images/penguin4.png");
  background-repeat: no-repeat;
  background-size: 75%;
  background-position: center;
  border-color: gold !important;
  background-color: lightgoldenrodyellow !important;
  border-width: 5px !important;
}

.hex.white div {
  background-color: azure;
}
.hex.selected div {
  background-color: lightsteelblue;
}

.hex.nothing div {
  background-color: #4682b4;
  background-image: url("../public/images/sea.png");
  background-repeat: no-repeat;
  background-size: 79%;
  background-position: center;
}

.hex:hover div {
  border-color: burlywood !important;
}

.hex:active div {
  border-color: #faf !important;
}

.bg {
  background-color: #4682b4;
  height: 100vh;
}

.bar {
  /* background-color: 0818a8; */
  height: 2vh;
}

.p1 {
  background-image: url("../public/images/penguin1.png");
  transform: rotate(270deg);
  background-repeat: no-repeat;

  background-size: 80%;
  background-position: center;
}

.p2 {
  background-image: url("../public/images/penguin2.png");
  transform: rotate(270deg);
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
}

.p3 {
  background-image: url("../public/images/penguin3.png");
  transform: rotate(270deg);
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
}

.p4 {
  background-image: url("../public/images/penguin4.png");
  transform: rotate(270deg);
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
}

.pb1 {
  border: 3px solid darkturquoise;
  background-color: lightblue !important;
}

.pb2 {
  border: 3px solid palevioletred;
  background-color: lightpink !important;
}

.pb3 {
  border: 3px solid limegreen;
  background-color: lightgreen !important;
}

.pb4 {
  border: 3px solid gold;
  background-color: lightgoldenrodyellow !important;
}
